.app {
	text-align: center;
}

.main-container {
	width: 500px;
}

.todoItem-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todoItem-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	flex: 1;
}

.ml {
	margin-left: 0.5rem;
}

.mb {
	margin-bottom: 2rem;
}

.clear-button-container {
	margin-top: 10px;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	cursor: pointer;
}
